---
title: Neurosis Wiki
---

<ul class="topics">
  <% @config[:guides].each do |name, guide| %>
    <li class="topic-<%= guide[:slug] %>">
      <a href="<%= @items["/#{guide[:slug]}/#{guide[:index_file]}"].path %>">
        <div class="wrapper">
          <div class="circle"><%= guide[:abbreviation] %></div>
          <h2><%= guide[:full_name] %></h2>
          <p><%= guide[:description] %></p>
        </div>
      </a>
    </li>
  <% end %>
</ul>
