---
version: 5
---

// Breakpoints
$mobile-width: 800px;

// Border radius
$border-radius: 3px;

// Fonts
$mono-font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "Andale Mono", "Lucida Console", monospace;
$sans-font-family: "Source Sans Pro", sans-serif;

// Link colors
$link-color: #3084bb;
$link-color-hover: #20597e;
$link-code-color: rgb(55, 119, 176);

// Inline code colors
$code-color: #c7254e;
$code-background-color: #f9f2f4;

// Home page colors
$landing-background: #f9f9f9;
$landing-header-background: #34373c;
$topic-border: rgb(215, 215, 215);
$topic-hassio-circle-color: rgb(25, 112, 169);
$topic-hassio-header-color: rgb(9, 96, 153);
$topic-docker-circle-color: rgb(107, 79, 187);
$topic-docker-header-color: rgb(107, 79, 187);
$topic-omv-circle-color: rgb(203, 88, 15);
$topic-omv-header-color: rgb(203, 88, 15);

// Other colors
$toc-bg-color: rgb(244, 247, 248);
$toc-border-color: rgb(116, 159, 226);
$border-color: #e5e5e5;
$border-color-light: #f0f0f0;
$table-border-color: $border-color;
$hr-border-color: $border-color;
$blockquote-border-color: rgb(140, 203, 242);
$blockquote-background-color: rgb(221, 238, 255);
$pre-background-color: #fff;
$search-border: rgba(0, 0, 0, .25);
$white: #fff;
$black: #333;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: $sans-font-family;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  td, th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid $table-border-color;
  }

  @media all and (max-width: $mobile-width) {
    display: block;
  }
}

blockquote {
  border-width: 0;
  border-left: 3px solid $blockquote-border-color;
  background-color: $blockquote-background-color;
  margin: 20px 0;
  padding: 10px 20px;
}

pre {
  background-color: $pre-background-color;
}

hr {
  border: 0;
  border-top: 1px solid $hr-border-color;
}

code, code span {
  font-family: $mono-font-family;
  font-size: 14px;
}

p code, li code, table code {
  color: $code-color;
  background-color: $code-background-color;
  padding: 2px 4px;
}

a > code {
  color: $link-code-color;
}

// Make code in headers match the font size of the given header.
h1, h2, h3, h4, h5, h6 {
  code {
    font-size: inherit;
  }

  @media all and (min-width: $mobile-width) {
    .anchor {
      opacity: 0;
    }

    &:hover .anchor {
      opacity: 1;
    }
  }
}

.main {
  margin: auto;
  padding: 20px;
  position: relative;
  width: auto;
  max-width: 1000px;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
  }

  ul, ol {
    margin: 20px 0;
  }

  li {
    font-size: 16px;
    line-height: 22px;

    > ul, > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  img {
    max-width: calc(100% - 10px);
    max-height: 100vh;
    border: 1px solid $border-color-light;
    padding: 5px;
    margin: 5px;
  }

  footer {
    padding: 10px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.header {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  border-bottom: 1px solid $border-color;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;

  img {
    position: absolute;
    height: 50px;
  }

  p {
    font-size: 20px;
    color: $black;
    display: inline-block;
    padding: 10px 0;
    padding-left: 55px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  ul {
    text-align: right;
    list-style-type: none;
    display: inline-block;
    margin: 12px 0;

    @media all and (max-width: $mobile-width) {
      display: none;
    }
  }

  li {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    margin: 0 10px;
  }

  // Match the Swiftype styles as closely as possible
  // with some minor modifications.
  // This prevents the search input from jumping around
  // as the styles load.
  input {
    box-sizing: content-box;
    border: 1px solid $search-border;
    border-radius: $border-radius;
    background-color: $white;
    -webkit-appearance: none;
    padding: 7px 11px 7px 28px;
    margin: -5px;
    font-size: 14px;
    width: 190px;
  }
}

// Styles for breadcrumbs navigation
.breadcrumbs {
  font-size: 16px;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;

  .breadcrumb {
    text-overflow: ellipsis;
    display: inline-block;
    overflow-x: hidden;

    &:not(:last-child)::after {
      content: "/";
    }

    &::after {
      padding: 0 4px 0 6px;
    }
  }

  // ToC styles
  + ul {
    border-left: 1px dashed $toc-border-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: $toc-bg-color;
    max-width: 30em;

    li {
      padding: 5px 0;
      list-style-type: none;

      ul {
        -webkit-padding-start: 0;
        padding-top: 5px;
        padding-left: 20px;
      }
    }
  }
}

// Permalinks on header elements.
.anchor {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-height: 25px;
  vertical-align: middle;
  background: url("<%= @items['/assets/images/icon_anchor.svg'].path %>") center center / contain no-repeat;

  &:hover {
    text-decoration: none;
  }
}

// Home page //

.landing {
  background-color: $landing-background;

  .landing-header {
    padding: 75px 35px 200px;
    background-color: $landing-header-background;
    text-align: center;
    color: $white;

    input {
      margin-top: 50px;
      border-radius: $border-radius;
      font-size: 20px;
      line-height: inherit;
    }

    img {
      width: 280px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .st-ui-search-input, .st-default-search-input {
    box-sizing: content-box;
    height: 35px;
    padding: 15px 15px 15px 40px;
    width: auto;
    border: 1px solid $search-border;

    @media all and (min-width: $mobile-width) {
      min-width: 300px;
    }
  }

  .st-ui-search-input, .st-default-search-input, .st-ui-search-icon {
    background-size: 16px 16px;
    background-position: 15px 25px;
  }
}

.topics {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  top: -100px;
  max-width: 1100px;
  margin: auto;
  -webkit-padding-start: 0;

  li {
    display: inline-block;
    background-color: $white;
    border: 1px solid $topic-border;
    border-radius: $border-radius;
    margin: 15px;
    flex: 1 0 300px;
    min-width: 300px;

    @media all and (max-width: $mobile-width) {
      width: 100%;
      min-width: auto;
      flex: initial;
      margin: 20px;
    }

    a p, a:visited p {
      color: $black;
      vertical-align: bottom;
    }

    .wrapper {
      padding: 0 35px 40px;

      @media all and (max-width: $mobile-width) {
        padding: 0 15px 15px;
      }
    }

    h2 {
      text-align: center;
      font-size: 21px;
      font-weight: 400;
    }

    a, a:visited {
      text-decoration: none;

      h2 {
        height: 70px;
        margin-bottom: 25px;

        @media all and (max-width: $mobile-width) {
          height: auto;
        }
      }
    }
  }
}

.circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 2.35;
  color: $white;
  position: relative;
  margin: auto;
  top: -28px;
}

.topic-wiki {
  .circle {
    background-color: $topic-omv-circle-color;
  }

  h2 {
    color: $topic-omv-header-color;
  }
}

.topic-hassio {
  .circle {
    background-color: $topic-hassio-circle-color;
  }

  h2 {
    color: $topic-hassio-header-color;
  }
}


.topic-docker {
  .circle {
    background-color: $topic-docker-circle-color;
  }

  h2 {
    color: $topic-docker-header-color;
  }
}

.topic-omv {
  .circle {
    background-color: $topic-omv-circle-color;
  }

  h2 {
    color: $topic-omv-header-color;
  }
}

