<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.*' %>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <% if @config[:breadcrumbs] %>
        <ul class="breadcrumbs">
          <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
          <% if ancestor_array %>
            <% ancestor_array.reverse_each do |item| %>
              <li class="breadcrumb"><%= link_to item.attributes.include?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
            <% end %>
          <% end %>
          <li class="breadcrumb"><%= @item.attributes.include?(:title) ? "#{@item[:title]}" : "Current page" %></li>
        </ul>
      <% end %>
      <%= yield %>
      <hr>
      <footer>
        <%= edit_on_gitlab(@item) %>
        <a href="https://gitlab.com/N3UR0515/wiki">View the source code of this site</a>
      </footer>
    </div>
  </body>

  <%= render '/analytics.*' %>
</html>
