<div class="header">
  <a href="/">
    <img src="<%= @items['/assets/images/N3UR0515.svg'].path %>"/>
    <p>Neurosis Wiki</p>
  </a>
  <ul>
    <li><input type="text" class="st-default-search-input" placeholder="Search"></li>
      <% @config[:guides].each do |name, guide| %>
        <li>
          <a href="<%= @items["/#{guide[:slug]}/#{guide[:index_file]}"].path %>">
            <%= guide[:short_name] %>
          </a>
        </li>
      <% end %>
  </ul>
</div>
